label{

	font-size: 18px;

	font-weight: bold;

	width: 600px;

}



input{

	background: white;

	color: black;

	font-weight: bold;

}

form table{

	width: 500px;

	border: 5px solid #CCC;

	border-color: black;

}


button{

	width: 110px;

	height: 30px;

	background: black;

	color: #36B3F7;

	font-weight: bold;

}

/* .container{

	position:absolute;
	left:50%;
	top:50%;

} */

input.boton{

	width: 110px;

	height: 30px;
  	background-image:url(boton.jpg);

/*	background: black;
*/
	color: #36B3F7;

	font-weight: bold;

}



a{

	font-style: arial;

}



body{
	justify-content: center;
	background-image: url('../img/prueba1.1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: auto;
	margin:0;
	border:0;
	padding:0;
}
