*{
  padding: 0px;
  margin: 0px;
}

body {
    background: rgb(195, 208, 254, 0.5);
    position: relative;
  }

#menuH{
  height: 45px;
  width: 100%;
  background:  #2B0400;
  justify-content: center;
  margin-top: 100px;
  position: fixed;
}


.usuario{
  margin-right:  10%;
  float: right;

}


.conexion{
  text-align: right;
  color: #000000;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav li a{
  margin: auto;
  background-color:  #2B0400;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px; /*1ero alto, 2do largo */
  display: block;
}

.nav a:hover{
  background-color: white;
  color: #2B0400;
}

ul, ol{
  list-style: none;
}

/* .nav > li{
  float: left;
} */
.nav li ul{
  display:none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul {
  display: block;
}

.img {
  background-image: url('../img/cabezote1.jpg');
  height: 100px;
  width: 100%;
  position: fixed;
  background-attachment: fixed
}

.contenido{
  height:  150px;
}
/* .cerrar{
  float: right;
  list-style-type: none;
  text-align: left;
  justify-content: right;
} */

/* css para las tablas de las listas  */

#datos{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	}

.ventana {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
	}

.tabla_datos{
		border-radius: 180px;
		border: 1px solid #327EF3;
		font-family: arial;
/*		font-weight: bold;
		background-color: rgba(0,0,0,0.5);*/
		text-align: center;
		border-collapse: collapse;
	}

.tabla_datos thead{
	background-color: #1f7aec;
	empty-cells: hide;
	font-weight: bold;
	border-radius: 15px;
}
/*.tabla_datos tr:nth-child(odd) {
    background-color:#f2f2f2;
}*/
.tabla_datos tr:nth-child(even) {
    background-color:#E1E3E6;
}
#caja_busqueda {
	border: 1px solid #327EF3;
  border-radius: 5px;
}
.label {
	color: #091895;
}

/* css para factura de ventaa */
.atendio {
  float: right;
}

.fecha{
  float: left;
}

.tipoFactura{
  text-align: center;
}




/* css de las paginas para modificar los datos  */

#submit {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 8px 8px 8px 8px;
}
#submit:hover {
    background: #ddd;
}
#cancelar {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background: red;
    border-radius: 8px 8px 8px 8px;
}
#cancelar:hover {
    background: #ddd;
}

.busqueda{
  justify-content: center;
}
